@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
    --body-bg: #202124;
    --main-txt: #868b90;
    --nav-txt: white;
    --dropdown-hover-bg: red;
    --dropdown-bg: white;
    --dropdown-list-txt: black;
    --dropdown-list-hover-bg: #ddd;
    --search-bg: rgba(0, 0, 0, .5);
    --search-txt: whitesmoke;
    --btn-txt: whitesmoke;
    --btn-bg: rgba(0, 0, 0, .5);
    --btn-hover-bg: white;
    --btn-hover-txt: black;
    --card-backup-bg: whitesmoke;
    --card-bg: rgba(0, 0, 0, .9);
    --card-border: whitesmoke;
    --card-header-bg: whitesmoke;
    --card-txt: #777;
    --pop-border: whitesmoke;
    --pop-bg: rgba(0, 0, 0, .9);
    --pop-header-border: black;
    --pop-btn-txt: white;
    --pop-btn-saved: green;
    --pop-btn-std: grey;
    --popup-overlay: rgba(0, 0, 0, .5);
    --pop-btn-remove: #edae49;
}

body {
    /* background: rgb(172, 169, 169); */
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    background-color: var(--body-bg);
    color: var(--main-txt);
}

i {
    pointer-events: none;
}

/* ------------------------------ NAV SECTION ---------------------------*/
/* Navbar container */
.navbar {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.navbar.hidden {
    display: none;
}

/* Links inside the dropdown */
.navbar a {
    float: left;
    color: var(--nav-txt);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 1rem;
    border: none;
    outline: none;
    color: var(--nav-txt);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

.settings {
    float: right;
    padding: 0;
}

#toggle {
    float: right;
    padding: 1rem 1rem 1rem 1rem;
    color: var(--btn-txt);
    font-size: 1rem;
    background-color: var(--body-bg);
    width: 110px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover,
.dropbtn:hover,
.booklistbtn:hover {
    background-color: var(--dropdown-hover-bg);
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dropdown-bg);
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: var(--dropdown-list-txt);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--dropdown-list-hover-bg);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* the logo */

#logo {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 600;
    margin: auto;
}

/* SEARCH SECTION */

.search-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}

.search-container.hidden {
    height: 0;
    width: 0;
    display: none;
}

.refresh {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 75px;
    width: 100%;
}

.refresh.hidden {
    display: none;
    height: 0;
    width: 0;
}

#search {
    background-color: var(--search-bg);
    font-size: 1rem;
    color: var(--search-txt);
    width: 50%;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    transition: 300ms ease-in-out;
}

#search::placeholder {
    font-size: 0.8rem;
}

.btn {
    color: var(--btn-txt);
    font-size: 0.8rem;
    background-color: var(--btn-bg);
    width: 150px;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    transition: 300ms ease-in-out;
    text-align: center;
    justify-content: center;
}

.btn:hover,
.pop-btn:hover,
.pop-btn-green:hover,
.pop-btn-red:hover,
#toggle:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-txt);
    transform: scale(1.02);
    transition: 300ms ease-in-out;
    cursor: pointer;
}

/* CARD SECTION */
/* make the book cards responsive with an adaptive grid setup */
#book-cards-container,
#pinned-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.3rem;
}

#pinned-cards-container {
    padding: 2rem 10rem 10rem 10rem;
    justify-content: center;
}

#pinned-cards-container.hidden {
    display: none;
    height: 0;
    width: 0;
}

.card {
    background: var(--card-backup-bg);
    background-color: var(--card-bg);
    color: var(--card-txt);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 250ms ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    transition: 250ms ease-in-out;
    border: 1px solid var(--card-border);
}

.card-header {
    width: 100%;
    background-color: var(--card-header-bg);
    border-radius: 1rem;
}

.pin-icon {
    font-size: 1rem;
    color: green;
    text-align: right;
    padding: .5rem;
}

.image {
    background-image: url('');
    background-color: var(--card-backup-bg);
    height: 200px;
    margin: auto;
    align-items: center;
    cursor: pointer;
}

.card>.book-title {
    font-weight: 500;
    color: var(--card-txt);
}

.card .book-title {
    padding-top: 1rem;
}

.card p {
    font-size: 1.2rem;
    text-align: center;
    padding: .25rem;
}

.card>.card-footer {
    display: none;
}

#toggle-hidden {
    display: none;
}

/* POP-UP SECTION */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid var(--pop-border);
    border-radius: 1rem;
    z-index: 10;
    background-color: var(--pop-bg);
    width: fit-content;
    height: fit-content;
    min-height: 60%;
    max-height: 80vh;
    max-width: 70%;
    transition: 300ms ease-in-out;
    overflow-y: scroll;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
}

.popup-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--pop-header-border);
    font-size: 1.25rem;
}

.close-btn {
    color: var(--pop-btn-txt);
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.popup-subheader {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
}

.popup-subheader>.image {
    background-image: url('');
    width: 200px;
    cursor: default;
}

.popup-subheader ul {
    list-style: none;
}

.popup-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    padding-right: 1rem;
}

.popup-button button,
.popup-button>a {
    font-family: 'montserrat', sans-serif;
    text-align: center;
    margin: auto;
    cursor: pointer;
    width: 150px;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.popup-button>a {
    text-decoration: solid;
    font-size: 1.5rem;
    color: var(--btn-txt)
}

.popup-button>a:hover {
    transform: scale(1.1);
}

.pop-btn {
    color: var(--pop-btn-txt);
    background-color: var(--pop-btn-std);
}

.pop-btn-green {
    color: var(--pop-btn-txt);
    background-color: var(--pop-btn-saved);
}

.pop-btn-red {
    color: var(--pop-btn-txt);
    background-color: var(--pop-btn-remove);
}

.popup-body {
    padding: 1rem;
}

.book-id {
    display: none;
}

#popup-bg {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--popup-overlay);
    pointer-events: none;
    transition: 300ms ease-in-out;
}

#popup-bg.active {
    opacity: 1;
    pointer-events: all;
}

/* History Section */

#history-container {
    display: none;
}

/*
----------------------MEDIA QUERIES------------------------------
*/
@media screen and (min-width: 1600px) {
    .popup {
        height: 600px;
        width: 30vw;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 800px) {

    #logo {
        font-size: 2.5rem;
        width: 80vw;
        margin: auto;
    }

    .dropdown .dropbtn {
        font-size: 1rem;
    }

    .popup {
        height: 600px;
        width: 60vw;
        overflow-y: scroll;
    }

    .popup-header {
        font-size: 1.2rem;
    }

    .popup-subheader {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        font-size: .75rem;
        padding-bottom: 1rem;
    }

    .pop-details {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 0;
    }

    .popup-button,
    .popup-button>a {
        gap: 1rem;
        padding: 0;
    }
}

@media screen and (max-width: 520px) {

    .navbar {
        display: flex;
        flex-wrap: wrap;
    }

    #logo {
        font-size: 1.5rem;
        height: 100px;
        padding: 3rem 0;
    }

    .search-container {
        flex-direction: column;
        gap: 1rem;
    }

    #search {
        height: 10px;
        font-size: 1rem;
        width: 75%;
    }

    #pinned-cards-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 1rem;
        max-width: 250px;
    }

    .btn {
        font-size: 0.75rem;
        height: 40px;
    }

    .popup {
        width: 80vw;
        ;
    }

    .card-header {
        width: 75%;
        margin: auto;
    }
}