@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
}

body {
    background: rgb(172, 169, 169);
}

/* SEARCH SECTION */

.search-container {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    margin: auto;
    gap: 1rem;
}

.input-text {
    width: 50%;
    margin: auto;
    padding: .25rem;
}

.btn {
    width: 200px;
    margin: auto;
    border-radius: 1rem;
}

.btn.hidden {
    display: none;
}

/* CARD SECTION */
/* make the book cards responsive with an adaptive grid setup */
#book-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.3rem;
    margin-top: 1rem;
}

.card {
    background: white;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
}

.card > .image {
    background-image: url('');
    background-size: no-repeat cover;
    height: 200px;
    width: 200px;
    margin-bottom: auto;
    padding: auto;
}

.card > .book-title {
    font-weight: 500;
    color: #777;
}

.card .book-title {
    padding-top: 1rem;
}

.card p {
    /* margin: auto; */
    padding: .25rem;
}

/* .card > .card-footer {
    display: none;
} */

#toggle-hidden {
    display: none;
}

/* POP-UP SECTION */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-radius: 1rem;
    z-index: 10;
    background-color: white;
    width: 80%;
    height: 80%;
    max-width: 80%;
    transition: 300ms ease-in-out;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
}

.popup-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.popup-header .close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
}

#popup-bg {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    transition: 300ms ease-in-out;
}

#popup-bg.active {
    opacity: 1;
    pointer-events: all;
}

/* History Section */

#history-container {
    display: none;
}