@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
    --body-bg: #202124;
    --body-text:  #868b90;
    --nav-text: white;
    --dropdown-hover-bg: red;
    --dropdown-bg: white;
    --dropdown-list-text: black;
    --dropdown-list-hover-bg: #ddd;
    --search-bg:  rgba(0, 0, 0, .5);
    --search-text: whitesmoke;
    --btn-text: whitesmoke;
    --btn-bg: rgba(0, 0, 0, .5);
    --btn-hover-bg: white;
    --btn-hover-text: black;
    --card-backup-bg: whitesmoke;
    --card-bg: rgba(0, 0, 0, .9);
    --card-border: whitesmoke;
    --card-header-bg: whitesmoke;
    --card-text: #777;
    --pop-border: whitesmoke;
    --pop-bg: rgba(0, 0, 0, .9);
    --pop-header-border: black;
    --pop-close-btn: white;
    --pop-btn-text: gray;
    --booklist-btn-saved: green;
    --booklist-btn-saved-text: white;
    --popup-overlay: rgba(0, 0, 0, .5);
}

body {
    /* background: rgb(172, 169, 169); */
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    background-color: var(--body-bg);
    color: var(--body-text);
}

/* ------------------------------ NAV SECTION ---------------------------*/
/* Navbar container */
.navbar {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 1.5rem;
  }

  .navbar.hidden {
    display: none;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: var(--nav-text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--nav-text);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn, .booklistbtn:hover {
    background-color: var(--dropdown-hover-bg);
    cursor: pointer;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dropdown-bg);
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: var(--dropdown-list-text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: var(--dropdown-list-hover-bg);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* the logo */

#logo {
    display: flex;
    height:300px;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    font-weight: 600;
}

#logo.on-search {
    height: 150px;
}

/* SEARCH SECTION */

.search-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}

.search-container.hidden {
    height: 0;
    width: 0;
    display: none;
}

.refresh {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.refresh.hidden {
    display: none;
    height: 0;
    width: 0;
}

#search {
    background-color: var(--search-bg);
    font-size: 1.25rem;
    color: var(--search-text);
    width: 50%;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    scale: 1;
    transition: 300ms ease-in-out;

}

.btn {
    color: var(--btn-text);
    font-size: 1rem;
    background-color: var(--btn-bg);
    width: 150px;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.btn:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-text);
    transform: scale(1.05);
    transition: 300ms ease-in-out;
    cursor: pointer;
}

/* CARD SECTION */
/* make the book cards responsive with an adaptive grid setup */
#book-cards-container, #pinned-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.5rem;
    margin-top: 1rem;
}

#pinned-cards-container {
    padding: 6rem;
    gap: 1rem;
}

#pinned-cards-container.hidden {
    display: none;
    height: 0;
    width: 0;
}

.card {
    background: var(--card-backup-bg);
    background-color:var(--card-bg);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 250ms ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    transition: 250ms ease-in-out;
    border: 1px solid var(--card-border);
}

.card-header {
    width: 100%;
    background-color: var(--card-header-bg);
    border-radius: 1rem;
}

.pin-icon {
    font-size: 2rem;
    color: green;
    text-align: right;
    padding: .75rem;
}

.image {
    background-image: url('');
    background-color: var(--card-backup-bg);
    background-size: no-repeat cover;
    height: 200px;
    margin: auto;
    align-items: center;
    cursor: pointer;
    padding: auto;
}

.card > .book-title {
    font-weight: 500;
    color: var(--card-text);
}

.card .book-title {
    padding-top: 1rem;
}

.card p {
    font-size: 1.2rem;
    text-align: center;
    padding: .25rem;
}

.card > .card-footer {
    display: none;
}

#toggle-hidden {
    display: none;
}

/* POP-UP SECTION */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid var(--pop-border);
    border-radius: 1rem;
    z-index: 10;
    background-color: var(--pop-bg);
    width: fit-content;
    height: fit-content;
    min-height: 60%;
    max-width: 80%;
    transition: 300ms ease-in-out;
}


.popup.active {
    transform: translate(-50%, -50%) scale(1);
}

.popup-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--pop-header-border);
    font-size: 1.75rem;
}

.close-btn {
    color: var(--pop-close-btn);
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.popup-subheader {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 1.5rem
}

.popup-subheader > .image {
    background-image: url('');
    background-size: no-repeat cover;
    width: 200px;
    cursor: default;
}

.popup-subheader ul {
    list-style: none;
}

#save-to-booklist.saved, #pin.saved {
    background-color: var(--booklist-btn-saved);
    color: var(--booklist-btn-saved-text);
}

.popup-button {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 1rem;
}

.popup-button button {
    text-align: center;
    margin: auto;
    background-color: var(--pop-btn-text);
    cursor: pointer;
}

.popup-button button a {
    text-decoration: none;
}

.popup-body {
    padding: 1rem;
}

.book-id {
    display: none;
}

#popup-bg {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--popup-overlay);
    pointer-events: none;
    transition: 300ms ease-in-out;
}

#popup-bg.active {
    opacity: 1;
    pointer-events: all;
}

/* History Section */

#history-container {
    display: none;
}